@import "tailwindcss";

:root {
  /* Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  /* Secondary */
  --red: hsl(0, 87%, 67%);

  /* Neutral */
  --gray-pale: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --color-cyan: var(--cyan);
  --color-dark-violet: var(--dark-violet);
  --color-red: var(--red);
  --color-gray-pale: var(--gray-pale);
  --color-grayish-violet: var(--grayish-violet);
  --color-very-dark-blue: var(--very-dark-blue);
  --color-very-dark-violet: var(--very-dark-violet);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html {
  height: 100%;
}

body {
  min-height: 100dvh;
}

.burger-menu {
  stroke: var(--grayish-violet) !important;
}